body {
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}

.product-card {
    width: 800px;
    height: 500px;
    margin: 120px auto 0 auto;
    display: flex;
}

.left-img-col {
    width: 50%;
    height: 100%;
}

.left-img-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-info-col {
    width: 50%;
    background-color: #e9e9e9;
    padding: 40px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.right-info-col h3 {
    font-size: 32px;
    margin: 0;
}

.right-info-col h5 {
    font-size: 18px;
    color: lightgray;
    margin-top: 15px;
    margin-bottom: 20px;
}

.right-info-col p {
    font-size: 14px;
    line-height: 1.6;
    margin: 0 0 20px 0;
    width: 85%;
}

.available-colors {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.available-colors span {
    font-size: 14px;
    margin-right: 15px;
}


.black-color-container,
.red-color-container,
.white-color-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
}

.black-color-container {
    background-color: black;
}

.red-color-container {
    background-color: red;
}

.white-color-container {
    background-color: beige;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto; 
}

.price h4 {
    font-size: 32px;
    margin: 0;
}

.buy-btn {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
}


